<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximun-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Book Details</title>
</head>
<body>
    <h1>Book Details</h1>
    <p>Title of Book: {{ book.title }}</p>
    <p>Publication Date: {{ book.publicationDate|date('Y-m-d') }}</p>
    <p>Author: {{ book.author.username }}</p> 
</body>
</html>